<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatour.persistence.BrandMapper">

	<sql id="Base_Column_List">
		BrandId,BrandName
	</sql>

	<sql id="findForPage_sql">
		select
		<include refid="Base_Column_List" />
		from Brand
		<where>
			<if test="record.BrandId != null">
				BrandId = #{record.BrandId,jdbcType=VARCHAR}
			</if>
			<if test="record.BrandName != null">
				AND BrandName LIKE CONCAT('%','${record.BrandName}','%')
			</if>
		</where>
	</sql>

	<resultMap type="Brand" id="BaseResultMap">
		<id property="BrandId" column="BrandId" jdbcType="VARCHAR" />
		<result property="BrandName" column="BrandName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from Brand
		where
		BrandId = #{BrandId,jdbcType=VARCHAR}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Brand
	</select>

	<select id="findForPage" resultMap="BaseResultMap">
		<include refid="Pager.paginationStart" />
		<include refid="findForPage_sql" />
		<include refid="Pager.paginationEnd" />
	</select>

	<select id="findForPageCount" resultType="int">
		<include refid="Pager.countStart" />
		<include refid="findForPage_sql" />
		<include refid="Pager.countEnd" />
	</select>

	<delete id="removeById" parameterType="java.lang.String">
		delete from Brand
		where
		BrandId = #{BrandId,jdbcType=VARCHAR}
	</delete>

	<update id="update" parameterType="Brand">
		update Brand
		<set>
			<if test="BrandName != null">
				BrandName = #{BrandName,jdbcType=VARCHAR},
			</if>
		</set>
		where BrandId = #{BrandId,jdbcType=VARCHAR}
	</update>

	<insert id="save" parameterType="Brand">
		insert into Brand
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="BrandId != null">
				BrandId,
			</if>
			<if test="BrandName != null">
				BrandName
			</if>
		</trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="BrandId != null">
				#{BrandId,jdbcType=VARCHAR},
			</if>
			<if test="BrandName != null">
				#{BrandName,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>
</mapper>