<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatour.persistence.CompanyMapper">
	<resultMap id="BaseResultMap" type="com.chinatour.entity.Company">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="QboId" property="qboId" jdbcType="VARCHAR" />
		<result column="CreateDate" property="createDate" jdbcType="TIMESTAMP" />
		<result column="RequestToken" property="requestToken" jdbcType="VARCHAR" />
		<result column="RequestTokenSecret" property="requestTokenSecret" jdbcType="VARCHAR" />
		<result column="AccessToken" property="accessToken" jdbcType="VARCHAR" />
		<result column="AccessTokenSecret" property="accessTokenSecret" jdbcType="VARCHAR" />
		<result column="ConnectedToQbo" property="connectedToQbo" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, Name, QboId, CreateDate,RequestToken,RequestTokenSecret,ConnectedToQbo,AccessTokenSecret,AccessToken
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from company
		where Id = #{id,jdbcType=VARCHAR}
	</select>
	<select id="findByRequestToken" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from company
		where RequestToken = #{requestToken,jdbcType=VARCHAR}
	</select>
	<select id="findByQboId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from company
		where QboId = #{qboId,jdbcType=VARCHAR}
	</select>

	<insert id="save" parameterType="com.chinatour.entity.Company">
		insert into company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="qboId != null">
				QboId,
			</if>
			<if test="requestToken != null">
				RequestToken,
			</if>
			<if test="requestTokenSecret != null">
				RequestTokenSecret,
			</if>
			<if test="connectedToQbo != null">
				ConnectedToQbo,
			</if>
			<if test="accessToken != null">
				AccessToken,
			</if>
			<if test="accessTokenSecret != null">
				AccessTokenSecret,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="qboId != null">
				#{qboId,jdbcType=VARCHAR},
			</if>
			<if test="requestToken != null">
				#{requestToken,jdbcType=VARCHAR},
			</if>
			<if test="requestTokenSecret != null">
				#{requestTokenSecret,jdbcType=VARCHAR},
			</if>
			<if test="connectedToQbo != null">
				#{ConnectedToQbo,jdbcType=INTEGER},
			</if>
			<if test="accessToken != null">
				#{AccessToken,jdbcType=VARCHAR},
			</if>
			<if test="accessTokenSecret != null">
				#{AccessTokenSecret,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.chinatour.entity.Company">
		update company
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="qboId != null">
				QboId = #{qboId,jdbcType=VARCHAR},
			</if>
			<if test="requestToken != null">
				RequestToken = #{requestToken,jdbcType=VARCHAR},
			</if>
			<if test="requestTokenSecret != null">
				RequestTokenSecret = #{requestTokenSecret,jdbcType=VARCHAR},
			</if>
			<if test="connectedToQbo != null">
				ConnectedToQbo = #{connectedToQbo,jdbcType=INTEGER},
			</if>
			<if test="accessToken != null">
				AccessToken = #{accessToken,jdbcType=VARCHAR},
			</if>
			<if test="accessTokenSecret != null">
				AccessTokenSecret = #{accessTokenSecret,jdbcType=VARCHAR},
			</if>
		</set>
		where Id = #{id,jdbcType=VARCHAR}
	</update>

</mapper>