<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinatour.persistence.ShareTypeMapper">

	<sql id="Base_Column_List">
		ShareTypeId, TypeName, IsDel
	</sql>
	<resultMap type="com.chinatour.entity.ShareType" id="BaseResultMap">
		<id property="shareTypeId" column="ShareTypeId" jdbcType="VARCHAR" />
		<result property="typeName" column="TypeName" jdbcType="VARCHAR" />
		<result property="isDel" column="IsDel" jdbcType="INTEGER" />
	</resultMap>

	<select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select
		<include refid="Base_Column_List" />
		from share_type
		where
		ShareTypeId = #{shareTypeId,jdbcType=VARCHAR}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from share_type
	</select>
	
	<update id="update" parameterType="com.chinatour.entity.ShareType">
		UPDATE share_type
			<set>
			    <if test="shareTypeId != null">
                    ShareTypeId = #{shareTypeId} ,
                </if>
                <if test="typeName != null">
                    TypeName = #{typeName} ,
                </if>
                <if test="isDel !=null">
	                IsDel = #{isDel} 
                </if>
			</set>
		WHERE 
            ShareTypeId = #{shareTypeId}
	</update> 
	
	 <insert id="save" parameterType="com.chinatour.entity.ShareType">
	     INSERT INTO share_type
	     	<trim prefix="(" suffix=")" suffixOverrides=",">
	     		 <if test="shareTypeId != null">
                    ShareTypeId ,
                </if>
                <if test="typeName != null">
                    TypeName ,
                </if>
                <if test="isDel !=null">
	                IsDel 
                </if>
	     	</trim> 
	     		
	     	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shareTypeId != null">
				#{shareTypeId,jdbcType=VARCHAR},
			</if>
			<if test="typeName != null">
				#{typeName,jdbcType=VARCHAR},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	 <sql id="findForPage_sql">
		select
		<include refid="Base_Column_List" />
		from share_type
		<where>
			<if test="record.shareTypeId != null">
				ShareTypeId = #{record.shareTypeId,jdbcType=VARCHAR}
			</if>
			<if test="record.typeName != null">
				AND TypeName = #{record.typeName,jdbcType=VARCHAR}
			</if>
			<if test="record.isDel != null">
				AND IsDel = #{record.isDel,jdbcType=INTEGER}
			</if>
		</where>
		ORDER BY TypeName DESC
	</sql>
	
	 <select id="findForPage" resultMap="BaseResultMap">
		<include refid="Pager.paginationStart" />
		<include refid="findForPage_sql" />
		<include refid="Pager.paginationEnd" />
	</select>

	<select id="findForPageCount" resultType="int">
		<include refid="Pager.countStart" />
		<include refid="findForPage_sql" />
		<include refid="Pager.countEnd" />
	</select>
</mapper>